@use "./abstracts/variables" as abstract;

$black: abstract.$color-black;
$white: abstract.$color-white;
$danger: abstract.$color-danger;

@forward "./abstracts/variables" hide
  $background-color,
  $dark,
  $fa-font-path,
  $font-family-base,
  $footer-bg-color,
  $headings-color,
  $headings-font-family,
  $light,
  $light-1,
  $light-2,
  $light-3,
  $light-4,
  $light-5,
  $light-6,
  $light-7,
  $light-shades-palette,
  $min-contrast-ratio,
  $nav-background-color,
  $navbar-height,
  $orange-pastel,
  $orange-primary,
  $primary,
  $success,
  $text-muted,
  $text-normal,
  $vintage-beige,
  $vintage-black;
@forward "./_brand" hide $font-family-base, $headings-font-family;
@forward "./_variables" hide $white;
@forward "./breakpoints";
